@{
    string activePage = ViewBag.MenuActive;
    string activeClass = "ui-btn-active ui-state-persist";
    string inactiveClass = "";
}

<div data-role="panel" data-postion-fixed="true" id="LeftMenu" data-theme="a" class="nav-search">
        
    <div data-role="controlgroup" data-type="horizontal" id="PanelClose">
        <a href="#" data-rel="close" data-role="button" data-icon="arrow-l">Close Menu</a>
    </div>

    <ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Home", "Index", "Mentor", null, new { @class=(activePage == "Index" ? activeClass : inactiveClass)})</li>
        <li>@Html.ActionLink("Attendance", "Attendance", "Mentor", null, new { @class=(activePage == "Attendance" ? activeClass : inactiveClass)})</li>
        <li>@Html.ActionLink("Members", "Members", "Mentor", null, new { @class=(activePage == "Members" ? activeClass : inactiveClass)})</li>
        <li>@Html.ActionLink("Parents", "Parents", "Mentor", null, new { @class=(activePage == "Parents" ? activeClass : inactiveClass)})</li>
        <li>@Html.ActionLink("Mentors", "Mentors", "Mentor", null, new { @class=(activePage == "Mentors" ? activeClass : inactiveClass)})</li>
    </ul>

    @if (ViewBag.CurrentAdult.IsParent) {
        <div data-role="controlgroup" data-type="horizontal">
            @Html.ActionLink("Parent Mode", "Index", "Parent", null, new { data_role="button", data_icon="star" })
        </div>
    }

    <div data-role="controlgroup" data-type="horizontal">
        <a href="/Home/LogOut" data-icon="delete" data-role="button">Log Out</a>
    </div>
</div>
