@model CoderDojo.Adult
@{
    CoderDojo.Adult adult = Model;
    ViewBag.Title = adult.FullName;
    string adultMode = ViewBag.AdultMode;
    ViewBag.MenuActive = "Details";
}

@section HeaderLeft {
    <a data-rel="back" data-role="button" data-icon="back">Back</a>
}
@section HeaderRight {
    <a data-icon="save" data-role="button" id="SaveButton">Save</a>
}

@if (adult.IsParent) {
    <text>
    @Html.Partial("_ParentMenu")
    </text>
}


@using (Html.BeginForm(adultMode + "Save", "Mentor"))
{
    <fieldset data-role="controlgroup">

        @Html.HiddenFor(m => m.Id)

        <label for="FirstName">First Name</label>
        @Html.TextBoxFor(m => m.FirstName)

        <label for="LastName">Last Name</label>
        @Html.TextBoxFor(m => m.LastName)

        <label for="LastName">Email</label>
        @Html.TextBoxFor(m => m.Email)

        <label for="LastName">Phone</label>
        @Html.TextBoxFor(m => m.Phone)

        <label for="IsParent">Parent</label>
        @Html.CheckBoxFor(m => m.IsParent)

    </fieldset>

    <fieldset data-role="controlgroup">

        <label for="IsMentor">Mentor</label>
        @Html.CheckBoxFor(m => m.IsMentor)
    </fieldset>
    
    <h1>Memberships</h1>
        <fieldset role="controlgroup">
            <div data-role="collapsible-set" data-corners="false" data-inset="true">
                <div data-role="collapsible">
                    <h3>Coder Dojo</h3>
                    <label for="Login">Login</label>
                    @Html.TextBoxFor(m => m.Login)
                    <label for="NewPassword">New Password</label>
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div data-role="collapsible">
                    <h3>GitHub</h3>
                    <label for="GithubLogin">GitHub Login</label>
                    @Html.TextBoxFor(m => m.GithubLogin)
                </div>
                <div data-role="collapsible">
                    <h3>XBox</h3>
                    <label for="XboxGamertag">XBox Gamertag</label>
                    @Html.TextBoxFor(m => m.XboxGamertag)
                </div>
            </div>
        </fieldset>
    
}


<script type="text/javascript">
    (function ($) {
        $("form").validate({
            //submitHandler: function (form) {
            //    $("form").submit();
            // }
        });


        $("#SaveButton").click(function () {
            $("form").submit();
            /*
            $.ajax("MemberSignup", {
                type: "POST",
                data: {
                    FirstName: $("#FirstName").val(),
                    LastName: $("LastName").val()
                }
            });*/
        })
    })(jQuery);
 </script>
