@model MemberSignupModel
@{
    ViewBag.Title = "Member Signup ";
    ViewBag.ActiveMenu = "Members";
    MemberSignupModel member = Model;
    int defaultYear = 2000;
    var years = Enumerable.Range(DateTime.Today.Year - 20, 18).Select(y => new SelectListItem { Value = y.ToString(), Text = y.ToString(), Selected = (y == defaultYear) });
}

@section HeaderLeft {
}

@section HeaderRight {
}

@section Footer {
    <a data-role="button" data-icon="check" class="FormSave">Save</a>
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}


@using (Html.BeginForm("MemberSignupSave", "Mentor"))
{
    @Html.HiddenFor(m => m.Mode)

    <label for="FirstName">First Name</label>
    @Html.TextBoxFor(m => m.FirstName)

    <label for="LastName">Last Name</label>
    @Html.TextBoxFor(m => m.LastName)

    <label>Birth Year</label>
    @Html.DropDownListFor(m => m.BirthYear, years, new { data_inline="true" })
}


<script type="text/javascript">
    (function ($) {
        $("form").validate({
            //submitHandler: function (form) {
            //    $("form").submit();
            // }
        });


        $("#SaveButton").click(function () {
            $("form").submit();
            /*
            $.ajax("MemberSignup", {
                type: "POST",
                data: {
                    FirstName: $("#FirstName").val(),
                    LastName: $("LastName").val()
                }
            });*/
        })
    })(jQuery);
 </script>
