@model CoderDojo.LoginModel
@{
    ViewBag.Title = "Ennis Coder Dojo";
    ViewBag.HideMenuButton = true;
}

@section HeaderLeft
{
}

@using (Html.BeginForm("Login", "Home")) {
    <label for="UsernameInput">User</label>
    @Html.TextBoxFor(x => x.Username)
    
    <label for="PassowrdInput">Password</label>
    @Html.PasswordFor(x => x.Password)

   <label for="Remember">Remember Me</label>
    @Html.CheckBoxFor(x => x.Remember)
    
    <div class="validation-summary-errors">@ViewBag.ValidationMessage</div>
    <input type="submit" id="LoginButton" value="Login" data-icon="check" />
    
    @Html.AntiForgeryToken()
}
