@model CoderDojo.Member
@{
    Team team = ViewBag.Team;
    ViewBag.Title = "ID Printout";
    ViewBag.HideMenuButton = true;
    this.Layout = null;
    Member member = Model;
    double widthCm = 10.7;
    double heightCm = 7.7;
    double pageWidthCm = 21.0;
    double pageHeightCm = 29.7;
}



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Member IDs</title>
    <style>
*
{
    border: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

html
{
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0;
    background: #999;
    cursor: default;
    padding: 2cm;
}

body
{
    /* width: @(pageWidthCm)cm; */
    margin: 0 auto;
    overflow: hidden;
    padding: 1cm;
    position: relative;
    background: #FFF;
}

@@media print
{
    * {
        -webkit-print-color-adjust: exact;
    }
    html {
        background: none;
        padding: 0;
    }
    body {
        /* height: @(pageHeightCm)cm;  */
        margin: 0;
    }
}

@@page {
    margin: 0 1cm;
}

.Card
{
    width: @(widthCm)cm;
    height: @(heightCm)cm;
    border: dashed 1px black;
    margin: 0 auto;
    padding: 0.4cm;
    position: relative;
    page-break-inside: avoid;
    font-size: 20px;
}

.Card:nth-child(4n+4)
{
    page-break-before:always;
    margin-top: 1cm;
}

.Card .qrcode
{
    float: right;
}

.Card .Belt
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .5cm;
    border: dashed 1px #888;
}

.Card h1
{
    font-size: 30px;
    font-weight: bold;
}

.Card h2
{
    margin-top: 10px;
    font-size: 20px;
}


    </style>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/QRGenerator/qrcode.js"></script>
    <script src="~/Scripts/QRGenerator/jquery.qrcode.js"></script>
    <script type="text/javascript">
        $(function () {
            var qrSize = 33*4;
            $('.qrcode').each(function () {
                element = $(this);
                element.qrcode({
                    width: qrSize,
                    height: qrSize,
                    typeNumber: 0, // Auto
                    text: element.data("id")
                });
            });
        });
    </script>
</head>
<body>
    @if (team != null)
    {
        foreach (var m in team.Members)
        {
            @Card(m)
        }
    }
    else
    {
        @Card(member)
    }
</body>
</html>

@helper Card(Member m)
{
    <div class="Card">
        <div class="qrcode" data-id="@(m.Id.ToString("N"))"></div>
        <h1>@m.MemberName</h1>
        <h2>Team: @m.Team.TeamName</h2>

        <div class="Belt" style="background-color: @(m.BeltColorHex);"></div>
    </div>
}
