@using CoderDojo
@model LoginModel
@{
    ViewBag.Title = "Ennis Coder Dojo";
    ViewBag.HideMenuButton = true;
    ViewBag.BodyTheme = "a";
    DateTime sessionDate = ViewBag.SessionDate;
    IEnumerable<MemberAttendance> signedInMembers = ViewBag.SignedInMembers;
}

@section HeaderLeft
{
}

@using (Html.BeginForm("SignIn", "Home")) {
    <input type="hidden" id="SessionDate" value="@sessionDate.ToString("yyyy-MM-dd")" />
    
    <label for="UsernameInput">User</label>
    @Html.TextBoxFor(x => x.Username, new { @class = "AutoFocus" })
    
    <label for="PassowrdInput">Password</label>
    @Html.PasswordFor(x => x.Password)

    <div class="ErrorMessage">@ViewBag.ValidationMessage</div>
    <a href="#" id="SignInButton" data-icon="check" data-role="button">Sign In</a>
}


<div data-role="content" style="margin-top: 20px;">
    <h3>Members Signed In: <span id="DojoAttendanceCount">@(signedInMembers.Count())</span></h3>
    <ul data-role="listview" data-autodividers="false">
        @foreach (var ma in signedInMembers)
        {
            <li id="m_@ma.MemberId.ToString("N")">@ma.Member.MemberName</li>
        }
    </ul>
</div>


<!-- todo : merge all of these -->
<div data-role="popup" id="SignInWelcomeDialog" data-theme="c" data-transition="pop" data-overlay-theme="a" class="ui-content">
    <a href="#" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <div id="MemberMessages"></div>
</div>


<script type="text/javascript">
    $(function () {
        $("input").on("change", function () {
            $(".ErrorMessage").fadeOut();
        });

        $("#Username,#Password").val("");

        $("#Username,#Password").on("keypress", function (e) {
            if (e.which == 13) {
                $("#SignInButton").trigger("click");
            }
        });

        $("#SignInButton").on("click", function (e) {
            e.preventDefault();
            $.ajax("SignIn", {
                type: "POST",
                dataType: "json",
                data: {
                    username: $("#Username").val(),
                    password: $("#Password").val()
                },
                success: function (data) {
                    if (data.ValidationMessage) {
                        $(".ErrorMessage").html(data.ValidationMessage).show();
                    } else {
                        // Show the welcome message
                        var memberId = data.memberId;
                        $(".ErrorMessage").hide();
                        $("#Username,#Password").val("");
                        $("#MemberMessages").html(data.memberMessage);
                        $("#SignInWelcomeDialog").last().popup("open").on("click", function () {
                            $("#SignInWelcomeDialog").last().popup("close");
                        });
                    }
                }
            });
        });

        // Start the SignalR connection
        $.connection.hub.start().done(function () {
        });

        // Receive a notification that someone altered attendance
        $.connection.attendanceHub.client.onAttendanceChange = function (attendanceDate, memberId, memberName, present, sessionCount, dojoAttendanceCount, memberMessage) {
            if ($("#SessionDate").val() == attendanceDate) {
                // Update the list
                $("#DojoAttendanceCount").html(dojoAttendanceCount);
                var ul = $("ul");
                if (present == "true") {
                    if ($("li#m_" + memberId).length == 0) {
                        ul.prepend("<li id='m_" + memberId + "'>" + memberName + "</li>");
                        ul.listview("refresh");
                        ul.trigger("updatelayout");
                    }
                } else {
                    $("li#m_" + memberId).remove();
                    ul.listview("refresh");
                    ul.trigger("updatelayout");
                }
            }
        };

    });
</script>
