@{
    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    string actionName = ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        @* @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        *@
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
        @Styles.Render("~/Content/mobilecss")
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        <style>
            /* Move up the header buttons */
            .ui-header .ui-controlgroup {
                margin-top: 2px;
            }
        </style>
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
<body class="Controller_@(controllerName) Action_@(actionName)"  > 

    <div data-role="page" data-theme="a" class="ui-responsive-panel">

        <div data-role="header">
            @if (IsSectionDefined("HeaderLeft"))
            {
                <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
                    <a data-role="button" href="/" data-icon="home" data-inline="true">Home</a>
                    @RenderSection("HeaderLeft", false)
                </div>
            } else {
                <i class="DojoLogo"></i>
            }
            <h1>@ViewBag.Title</h1>
            <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
                @RenderSection("HeaderRight", false)
            </div>
        </div>

        <div data-role="content">
            @RenderBody()		
        </div>

        <div data-role="footer" data-position="fixed">
            @RenderSection("Footer", false)
            <div class="view-switcher ui-bar-a">
                @Html.Partial("_ViewSwitcher")
            </div>
        </div>
    </div>

    @RenderSection("Panels", false)

</body>
</html>